.contenedorBoton{
    display: flex;
  justify-content: center;
  align-items: center;
    
}
.botonMagic{
    font-size: 150%;
    color: white;
    background-color: rgb(119, 205, 7);
    border-radius: 50%;
    padding: 5%;
}
